<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>加盟商位置图</title>
    <style type="text/css">
        html{height:100%}
        body{height:100%;margin:0px;padding:0px}
        #container{height:100%}
    </style>
    <script type="text/javascript" th:src="@{/static/admin/assets/js/jquery.min.js}"></script>
    <link rel="stylesheet" th:href="@{/static/admin/assets/css/bootstrap.css}">
    <script type="text/javascript" src="https://api.map.baidu.com/api?v=1.0&type=webgl&ak=Gc2vqwQTGRu47FgbsUei0jp29BasmXGO"></script>
    <script type="text/javascript" data-th-src="@{/static/js/app/map/map.js}"></script>
    <script type="text/javascript" data-th-src="@{/static/js/bootstrap-select.min.js}"></script>
</head>

<body>
<div data-options="region: 'north', border: false" style="height:auto;overflow: hidden;padding:12px;">
    <div class="" style="height: auto;overflow: hidden;border:#dedede solid 1px;padding:12px;background: #f5f5f5;">
        <ul>
            <li>
                <label>区域</label>
                <select id="area" name="role" class="selectpicker" title="请选择" data-width="150px" style=""></select>
                <label>项目</label>
                <select id="sel_role1" name="role" class="selectpicker" title="请选择" data-width="150px" style=""></select>
                <a  id="cx">查询</a>
                <a  id="cz">重置</a>
            </li>

            <div style="clear:both;"></div>
        </ul>
    </div>
</div>
    <div id="container"></div>
</body>
</html>

<!--
<a th:href="@{/admin/login}">
    维护
</a>-->
