<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>加盟商位置图</title>
    <style type="text/css">
        html{height:100%}
        body{height:100%;margin:0px;padding:0px}
        #container{height:100%}
    </style>
    <script type="text/javascript" th:src="@{/static/admin/assets/js/jquery.min.js}"></script>
    <script type="text/javascript" src="https://api.map.baidu.com/api?v=1.0&type=webgl&ak=Gc2vqwQTGRu47FgbsUei0jp29BasmXGO"></script>
    <script type="text/javascript" data-th-src="@{/static/js/jquery-easyui-1.8.6/jquery.easyui.min.js}"></script>
    <!-- <a href="javascript:void(0)" id="sb" onclick="javascript:alert('ok')>Ok</a>
     <div id="mm" style="width:100px;">
         ...
     </div>
 -->
    <link rel="stylesheet" th:href="@{/static/admin/assets/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/static/admin/jquery-easyui-1.8.6/easyui.css}">
    <link rel="stylesheet" th:href="@{/static/admin/jquery-easyui-1.8.6/icon.css}">
    <link rel="icon" th:href="@{/static/admin/images/favicon.ico}" type="image/x-icon">
    <script type="text/javascript" data-th-src="@{/static/js/app/map/map.js}"></script>
</head>

<body>
<div data-options="region: 'north', border: false" style="right: 0%;bottom: 0%;z-index: 11;position: absolute;float:right;overflow: hidden;padding:12px;">
    <div class="" style="height: auto;overflow: hidden;/*! border:#dedede solid 1px; */padding:12px;background: #aaa6a63b;">
        <ul>
            <div style="width: 100%; z-index: 10" >
                <span>签约地区</span>
                <input class="easyui-combobox" id="area" name="area" placeholder="请选择查询地区">
                <span>签约项目</span>
                <input class="easyui-combobox" id="program" name="program" placeholder="请选择查询项目">
                <span>加盟商名称</span>
                <input class="easyui-textbox" id="name" name="name" placeholder="请输入查询加盟商名称">
                <button id="cx" class="datebox-button">查询</button>
                <button id="cz" class="datebox-button">重置</button>

            </div>
            <div style="clear:both;"></div>
        </ul>
    </div>
</div>
<div style="height: 10%;width:90%;position: absolute; z-index: 10;">
    <div style="float:left;height: 100%">
        <img src="static/map/img/wbyy.png" height="100%">
    </div>
    <div style="margin-top: 3%">
        <h3 style="color:#0059cc;">万邦英语全国加盟商位置信息</h3>
    </div>
</div>


<div id="container"></div>

</body>
</html>

<!--
<a th:href="@{/admin/login}">
    维护
</a>-->
